<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/pages/board.css">
    <script src="/static/jslib/sortable.js"></script>
</head>
<body>
    <header>
      <div class="lefts">
        <a href="/" id="logo">TaMa</a>
        <p>{{board_name}}</p>
      </div>
        <a href="#" id="boards">My boards</a>
      <p class="user">Приятной работы, <span class="user">damik2005</span> <br> <a href="../index.html">Выход</a></p>
    </header>
    <div id="Todo">
          <div class="sort">
            <input class="create-column" placeholder=" + Создайте колонну">
          </div>
    </div>
    <div id="overlay"></div>
    <div id="task-window"></div>
       <script src="/static/pages/init.js"></script>
    <script src="/static/pages/board.js" type="application/javascript"></script>
</body>
</html>