<!DOCTYPE html>

<html>
<head>
    <title>Tama - Register</title>
    <link rel="stylesheet" href="/static/pages/register.css">
</head>

<body>
    <div class="wrapper">
        <a id="Logo" href="/">TaMa</a>
        <div class="form">
            <h1 id="title">Регистрация</h1>
            <form method="POST" action="registration">
                <input type="text" placeholder="Логин" name="username" required>
                <input type="email" placeholder="Почта" name="email" required>
                <input type="password" placeholder="Пароль" name="password" required>
                <button type="submit" class="submit">Продолжить</button>
            </form>
            <a class="redirect" href="/login">Уже зарегестрированы?</a>
        </div>
    </div>
</body>
</html>