<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><a href="/">Back</a></h1>
    <br>
    {% for i in boards %}
    <form method="POST">
        <h1>{{i[0]}}<input type="submit" name="board_redirect" value="{{(i[1])}}" /> <input type="submit" name="board_delete" value="{{i[1]}}" /></h1>
    </form>
    {% endfor %}
    <form method="POST" action="/workspace/add_board">
        <h1><input type="text" name="board_name" /></h1>
        <h1><input type="submit" value="add new board" hidden /></h1>
    </form>
</body>
</html>